.counter-container {
  margin: 0 auto;
  width: 30vw;
  background: #a2f5e8;
}

.scoreboard {
  margin: 0 auto;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background: #faf8cd;
}
